:root {
    --principal: #00A3FF;
    --fondo: #f1f1f1;
    --negro: #424141;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
    
}

body {
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    text-decoration: none;
    color: var(--fondo);
}
h1,
label,
input{
    margin: 0;
    padding: .3rem;
    color: var(--fondo);
    
}
.titulo{
    font-size: 3rem;
    font-weight: 700;
}
div {
    margin: 0;

}

.icono{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.ajustar-icono {
    color: var(--fondo);
    width: 18rem;
    height: 16rem;
}

.fondo {
    background-color: var(--principal);
}

.contenedor {
    background-color: var(--fondo);
}

.contenedor-todo {
    height: 100%;
    width: 100%;

    border-radius: 0 0 25rem 0;
}

.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
}

.form input {
    width: 90%;
    height: 5rem;
    margin: .5rem
}
.etiqueta{
    font-size: 2rem;
}
.tama-caja{
    border-color: var(--fondo);
    border-radius: .7rem;
    
}
.caja{
    padding: 1rem;
}
.icono-usuario{
    width: 2rem;
    height: 2rem;
    padding: .5rem;
}
.a{
    padding: 1rem;
    color: var(--fondo);
    display: flex;
    align-items: center;
}
button{
    padding: 1.5rem 9rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin: 0;
    -webkit-box-shadow: 0px 26px 17px -19px rgba(120, 120, 120, 0.8);
    -moz-box-shadow: 0px 26px 17px -19px rgba(120, 120, 120, 0.8);
    box-shadow: 0px 26px 17px -19px rgba(120, 120, 120, 0.8);
}

.texto{
    margin: 1rem;
    padding: 2rem;
    color: var(--fondo);
    text-align: justify;
}

.boton  {
    margin-top: 3rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 700;
}
.contenedor-menu{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.opcion{
    background-color: var(--fondo);
    padding: 5rem;
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    margin-bottom: 1rem;
    border:var(--negro) solid .1rem;
    border-radius: 1rem;
}

a :hover{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.024);
    border: .2rem solid #f1f1f1;
}
.h1{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 10rem;

}
.conteneder-inicio{
    padding: 2.5rem;
}
.centrar-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-a {
    padding: 1rem;
    background-color: var(--fondo);
    color: var(--negro);
    border-radius: 1rem;
    height: 6rem;
    margin: 0;
    -webkit-box-shadow: 0px 26px 17px -19px rgba(120, 120, 120, 0.8);
    -moz-box-shadow: 0px 26px 17px -19px rgba(120, 120, 120, 0.8);
    box-shadow: 0px 26px 17px -19px rgba(120, 120, 120, 0.8);
}