<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contendor-todo">
  <div class="container">
    <div class="centrar">
      <ion-icon class="icono" name="water-outline"></ion-icon>
      <h1 class="titulo">Administración</h1>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2"> <button class="boton"><ion-icon class="icono-boton" name="clipboard-outline"></ion-icon><p>Registro</p></button></ion-col>
      <ion-col size="6" size-md="4" size-lg="2"> <button class="boton"><ion-icon class="icono-boton" name="beaker-outline"></ion-icon><p>Nivel de Agua</p></button></ion-col>
      <ion-col size="6" size-md="4" size-lg="2"> <button class="boton"><ion-icon class="icono-boton" name="key-outline"></ion-icon><p>Lave de agua</p></button></ion-col>
      <ion-col size="6" size-md="4" size-lg="2"> <button class="boton"><ion-icon class="icono-boton" name="wifi-outline"></ion-icon><p>Conexión</p></button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
