<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaterSoft</title>
    <link rel="stylesheet" href="../src/css/estilos.css">
    <link rel="stylesheet" href="../src/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
</head>

<body class=" contenedor">

    <main class="fondo contenedor-todo">
        <section class="contendor-todo">
            <div class="icono">
                <ion-icon class="ajustar-icono" name="water-outline"></ion-icon>
            </div>
            <form class="form">
                <h1 class="titulo">Registro de Usuario</h1>
                <label class="etiqueta" for="">Nombre de Usuario:</label>
                <input class="tama-caja caja" type="text" placeholder="Nombre de Usuario" />
                <label class="etiqueta" for="">Contraseña:</label>
                <input class="tama-caja caja" type="password" placeholder="Contraseña" />
                <a class="a" href="registro.html"><ion-icon class="icono-usuario" name="person-outline"></ion-icon>Crear Cuenta</a>
                <button class="boton" type="submit">Entrar</button>
            </form>
        </section>

    </main>
</body>
<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>

</html>