<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaterSoft</title>
    <link rel="stylesheet" href="../src/css/estilos.css">
    <link rel="stylesheet" href="../src/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
</head>

<body class=" contenedor">

    <main class="fondo contenedor-todo">
        <section class="contendor-todo">
            <div class="icono">
                <ion-icon class="ajustar-icono" name="water-outline"></ion-icon>
            </div>
            <form class="form" id="GuardarRegistro">
                <h1 class="titulo">Registro de Usuario</h1>
                <label class="etiqueta" for="">Nombre de Usuario:</label>
                <input class="tama-caja caja" type="text" placeholder="Nombre de Usuario"  id="usuario"/>
                <label class="etiqueta" for="">Contraseña:</label>
                <input class="tama-caja caja" type="password" placeholder="Contraseña" id="psw"/>

                <label class="etiqueta" for="">¿Quién se esta registrando?</label>
                
                <ion-item color="none">
                    <input color="light" type="radio" name="tipoUsuario" id="admin" value="Administrador">Administrador<br> 
                    <ion-label color="light" >Administrador</ion-label>
                </ion-item>
                <ion-item  color="none">
                    <input color="light" type="radio" name="tipoUsuario" id="tecnico" value="Tecnico">Tecnico<br>
                    <ion-label color="light">Técnico</ion-label>
                </ion-item>
                
                
                
                <button class="boton" onclick="presentAlert()" type="submit">Registrarse</button>
            </form>
        </section>

    </main>
    <script src="../controllers/Front/Registro.js"></script>
    
</body>
<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>

</html>